.expenzing-brand {
  vertical-align: bottom;
  .navbar-brand-img {
    vertical-align: text-bottom;
    max-height: 2rem !important;
  }
  .expenzing-logo {
    color: #12a8c4;
    display: inline-block;
    .i {
      color: #9bcc53;
    }
  }
}

.menu-sub-item {
  padding-left: 48px !important;
}
